<!DOCTYPE html>
<html lang="en">
<head>
  <title>Isaac's TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
  <% include partials/_header %>
  <h2>Your URLS</h2>
  <ul>
    <% for (let short in myurls) { %>
      <li><%= myurls[short].URL%>: <a href="/u/<%= myurls[short].id %>"><%= myurls[short].id %></a>
        <form method="POST" action="/urls/<%= myurls[short].id %>/delete">
          <input id= "delete" type="submit" value="Delete URL">
        </form>
        <form action="/urls/<%= myurls[short].id %>">
          <input type="submit" value="Edit">
        </form>
      </li>
      <% } %>
  </ul>
<a href="/urls/new">Create new short URL</a>
<% include ./partials/_footer %>
</body>
</html>